@import "resets/reset-mixins";

@mixin tysha-shadow{
  box-shadow: 0 3px 6px $tysha-shadow__color;
}

@mixin tysha-transitionIn($properties, $duration: '0.15s') {
  $transition: "";

  @each $prop in $properties {
    @if $transition == "" {
      $transition: $transition + $prop + " " + $duration + " ease-out";
    }
    @else {
      $transition: $transition + ", " + $prop + " " + $duration+" ease-out";
    }
  }

  transition: #{$transition};
  will-change: $properties;
}

@mixin tysha-transition($properties...) {
  @include tysha-transitionIn($properties, '0.15s')
}


@mixin tysha-theme--color($type){
  &--color{
    &_base{
      #{$type}: $tysha-color--base;
    }
    &_primary{
      #{$type}: $tysha-color--primary;
    }
    &_secondary{
      #{$type}: $tysha-color--secondary;
    }
    &_error{
      #{$type}: $tysha-color--error;
    }
    &_success{
      #{$type}: $tysha-color--success;
    }
    &_info{
      #{$type}: $tysha-color--info;
    }
    &_muted{
      #{$type}: $tysha-color--muted;
    }
  }
}
@mixin tysha-theme--color__color(){
  @include tysha-theme--color('color')
}

@mixin tysha-theme--font__size(){
  &--size{
    &_lg{
      font-size: 20px;
    }
    &_md{
      font-size: 14px;
    }
    &_sm{
      font-size: 12px;
    }
    &_xs{
      font-size: 10px;
    }
  }
}

